{block #head}
    {control snippet 'family.html_head'}
{/block}

{block title}{_family.frontend.header}{/block}

{block #content}

{control snippet 'family-request-accepted', 'email' => $email, 'date' => $date->format('d.m.Y H:i')}
