{block #head}
    {control snippet 'family.html_head'}
{/block}

{block #content}

<div class="page-header">
    <h1 n:block="title">{_family.frontend.header}</h1>
</div>

{if $from == 'new'}
    {control snippet 'family-request-success'}
{else}
    {control snippet 'family-request-success-sign'}
{/if}
