{block #content}

<style>
    fieldset {
        margin-bottom: 1em;
    }
    .item-name input {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <a href="{plink :Users:UsersAdmin:Show $userRow->id}"><i class="fa fa-angle-left"></i> {_users.admin.edit.back_to_detail}</a>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2 n:block="title">
                {_family.admin.form.request.title} <small>{$userRow->public_name}</small>
            </h2>
        </div>
    </div>
</div>

<div class="container fluid" style="padding: 0;">
    {form requestForm, class => 'form-horizontal'}
        <fieldset class="col-lg-12" style="padding: 0;">
            <div n:if="$form->getErrors()" n:inner-foreach="$form->getErrors() as $error" class="alert alert-danger" role="alert">
                {$error}<br>
            </div>
            <div class="form-group">
                <div class="control-label col-md-4 col-sm-4">
                    {label subscription_type_id /}
                </div>
                <div class="col-md-6 col-sm-6">
                    {input subscription_type_id, class => 'form-control'}
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4 col-sm-4">
                    {label payment_gateway_id /}
                </div>
                <div class="col-md-6 col-sm-6">
                    {input payment_gateway_id, class => 'form-control'}
                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-4 col-sm-4">
                    {label manual_subscription /}
                </div>
                <div class="col-md-6 col-sm-6">
                    {input manual_subscription, class => 'form-control'}
                </div>
            </div>

            <div id="subscription-start-at" class="form-group" hidden>
                <div class="control-label col-md-4 col-sm-4">
                    {label subscription_start_at /}
                </div>
                <div class="col-md-6 col-sm-6">
                    {input subscription_start_at}
                    <span class="help-block">{_family.admin.form.request.subscription_start_at.description}</span>
                </div>
            </div>

            <div id="subscription-end-at" class="form-group" hidden>
                <div class="control-label col-md-4 col-sm-4">
                    {label subscription_end_at /}
                </div>
                <div class="col-md-6 col-sm-6">
                    {input subscription_end_at}
                    <span class="help-block">{_family.admin.form.request.subscription_end_at.description}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-sm-offset-4 checkbox">
                    {input keep_requests_unactivated}
                    <span class="help-block">{_family.admin.form.request.keep_requests_unactivated.description}</span>
                </div>
            </div>
        </fieldset>

        <!-- Items for every master subscription type -->
        {foreach $subscriptionTypes as $subscriptionType}
        {var $masterSubscriptionType = $subscriptionType->ref('subscription_types', 'master_subscription_type_id')}
        <fieldset id="container-{$masterSubscriptionType->id}" class="col-lg-12" style="padding: 0;" hidden>
            <legend>{_family.admin.form.request.items}</legend>
                {formContainer $masterSubscriptionType->id}
                    <div class="form-group">
                        <div class="col-md-4 col-sm-5 col-xs-12">{_family.admin.form.request.name.label|noescape}</div>
                        <div class="col-md-2 col-sm-2 col-xs-5" style="padding-left: 2em">{_family.admin.form.request.count.label}</div>
                        <div class="col-md-3 col-sm-4 col-xs-7" style="padding-left: 2em">{_family.admin.form.request.price.label}</div>
                    </div>
                    {foreach $masterSubscriptionType->related('subscription_type_items')->where('deleted_at', null) as $item}
                        {formContainer $item->id}
                            <div class="form-group">
                                <div class="col-md-4 col-sm-5 col-xs-12 item-name">{input name, class => 'form-control'}</div>
                                <div class="col-md-2 col-sm-2 col-xs-5">{input count, class => 'form-control'}</div>
                                <div class="col-md-3 col-sm-4 col-xs-7">{input price, class => 'select2 form-control', tags => "true", allowClear => "false", style => 'width: 100%'}</div>
                            </div>
                        {/formContainer}
                    {/foreach}
                {/formContainer}
        </fieldset>
        {/foreach}

        <fieldset id="container-vat" class="col-md-12">
        <legend>{_family.admin.form.request.vat}</legend>

            <div class="col-md-10">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5 checkbox" style="padding: 0;">
                            {input no_vat}
                            <span class="help-block">{_family.admin.form.request.no_vat.description}</span>
                        </div>
                    </div>
                </div>
            </div>

            {if $oneStopShopEnabled}
            <div class="col-md-10">
                <div class="form-group">
                    <div class="row">
                        <div class="control-label col-md-5 col-sm-5">
                            {label payment_country_id /}
                        </div>
                        <div class="col-md-7 col-sm-7" style="padding: 0;">
                            {input payment_country_id}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
        </fieldset>

        <div class="col-md-12">
            <div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-4 col-sm-offset-5">
                        {input send, class => 'btn btn-primary'}
                    </div>
                </div>
            </div>
        </div>
    {/form}
</div>
