<div class="row">
    <div class="col-md-12">

        {ifset $parentFamilySubscriptionType}
            <h2 class="page-header">{_family.components.family_subscription_type_details_widget.parent.title}</h2>

            <ul class="list-group">
                <li class="list-group-item">
                    <b>{_family.components.family_subscription_type_details_widget.parent.child_subscription}:</b>
                    <a href="{plink :Subscriptions:SubscriptionTypesAdmin:show $parentFamilySubscriptionType->slave_subscription_type_id}">
                        {$parentFamilySubscriptionType->slave_subscription_type->name}
                    </a>
                    <code>{$parentFamilySubscriptionType->slave_subscription_type->code}</code>
                </li>
                <li class="list-group-item">
                    <b>{_family.components.family_subscription_type_details_widget.parent.donation_method}:</b>
                    <code>{$parentFamilySubscriptionType->donation_method}</code>
                </li>
                <li class="list-group-item">
                    <b>{_family.components.family_subscription_type_details_widget.parent.count}:</b>
                    <code>{$parentFamilySubscriptionType->count}</code>
                </li>
                <li class="list-group-item">
                    <b>{_family.components.family_subscription_type_details_widget.parent.is_paid}:</b>
                    {if $parentFamilySubscriptionType->is_paid}
                        <code>{_system.yes}</code>
                    {else}
                        <code>{_system.no}</code>
                    {/if}
                </li>
            </ul>
        {/ifset}

        {ifset $childFamilySubscriptionTypes}
            <h2 class="page-header">{_family.components.family_subscription_type_details_widget.child.title}</h2>
            <ul class="list-group">
                <li n:foreach="$childFamilySubscriptionTypes as $childFamilySubscriptionType" class="list-group-item">
                    <a href="{plink :Subscriptions:SubscriptionTypesAdmin:show $childFamilySubscriptionType->master_subscription_type_id}">
                        {$childFamilySubscriptionType->master_subscription_type->name}
                    </a>
                    <code>{$childFamilySubscriptionType->master_subscription_type->code}</code>
                </li>
            </ul>
        {/ifset}

    </div>
</div>
