services:
	moduleManager:
		setup:
			- addModule(Crm\FamilyModule\FamilyModule())

	subscriptionsRepository:
		setup:
			- registerType(Crm\FamilyModule\FamilyModule::SUBSCRIPTION_TYPE_FAMILY)

	# API
	- Crm\FamilyModule\Api\ActivateFamilyRequestApiHandler
	- Crm\FamilyModule\Api\ListFamilyRequestsApiHandler

	# components
	- Crm\FamilyModule\Components\FamilyRequestsDashboardWidget\FamilyRequestsDashboardWidget
	- Crm\FamilyModule\Components\FamilyRequestsListWidget\FamilyRequestsListWidget
	- Crm\FamilyModule\Components\FamilySubscriptionTypeDetailsWidget\FamilySubscriptionTypeDetailsWidget
	- Crm\FamilyModule\Components\UsersAbusiveAdditionalWidget\UsersAbusiveAdditionalWidget
	- Crm\FamilyModule\Components\MasterFamilySubscriptionInfoWidget\MasterFamilySubscriptionInfoWidget
	- Crm\FamilyModule\Components\SlaveFamilySubscriptionInfoWidget\SlaveFamilySubscriptionInfoWidget

	# events
	familyNewSubscriptionHandler: Crm\FamilyModule\Events\NewSubscriptionHandler
	- Crm\FamilyModule\Events\SubscriptionShortenedHandler
	- Crm\FamilyModule\Events\SubscriptionUpdatedHandler
	- Crm\FamilyModule\Events\BeforeCreateRenewalPaymentEventHandler

	# models
	- Crm\FamilyModule\Models\FamilyRequests
	- Crm\FamilyModule\Models\DonateSubscription

	# repositories
	- Crm\FamilyModule\Repositories\FamilyRequestsRepository
	- Crm\FamilyModule\Repositories\FamilySubscriptionTypesRepository

	# scenarios
	- Crm\FamilyModule\Models\Scenarios\IsFamilyMasterCriteria
	- Crm\FamilyModule\Models\Scenarios\IsFamilySlaveCriteria

	# seeders
	- Crm\FamilyModule\Seeders\FamilySeeder
	- Crm\FamilyModule\Seeders\SubscriptionExtensionMethodsSeeder
	- Crm\FamilyModule\Seeders\SubscriptionTypeNamesSeeder

	# forms
	- Crm\FamilyModule\Forms\RequestFormFactory

	# commands
	- Crm\FamilyModule\Commands\GenerateFamilyRequestsCommand

	# presenters
	- Crm\FamilyModule\Presenters\RequestsAdminPresenter

	- Crm\FamilyModule\Models\Extension\ExtendFamilyExtension
	extensionMethodFactory:
		setup:
			# register subscription extension method for family subscription types
			- registerExtension(Crm\FamilyModule\Models\Extension\ExtendFamilyExtension::METHOD_CODE, Crm\FamilyModule\Models\Extension\ExtendFamilyExtension)
